@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/header";
@import "components/customer";

body {
	padding-top: $main-header-height-mobile;
}

#wrapper {
	padding: $padding-wrapper-mobile;
}

.homeslider-container {display: none;} //DA RIMUOVERE!!!!

@media #{$tabletMediaQuery}, #{$desktopMediaQuery} {
	body {
		padding-top: $main-header-height-tabletDesktop;
	}

	#wrapper {
		margin: 0 auto;
		max-width: $site-max-width;
		padding: $padding-wrapper-tabletDesktop;
	}
}