@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/header";
@import "components/customer";

#wrapper {
	margin-top: $main-header-height-mobile;
	padding: $padding-wrapper-mobile;
}

.homeslider-container {display: none;} //DA RIMUOVERE!!!!

@media #{$tabletMediaQuery}, #{$desktopMediaQuery} {
	#wrapper {
		margin: 0 auto;
		max-width: $site-max-width;
		margin-top: $main-header-height-tabletDesktop;
		padding: $padding-wrapper-tabletDesktop;
	}
}