@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/header";

#wrapper {
	margin-top: $main-header-height-mobile;
}

.homeslider-container {display: none;} //DA RIMUOVERE!!!!

@media #{$tabletMediaQuery}, #{$desktopMediaQuery} {
	#wrapper {
		margin-top: $main-header-height-tabletDekstop;
	}
}