$menu-button-height: 40px;
$menu-button-width: 40px;
$menu-piece-width: 30px;
$menu-piece-height: 3px;
$menu-piece-space-between: 4px;
$menu-piece-border-radius: 2px;
$menu-txt-initial-font-size: 12px;
$menu-txt-active-font-size: 20px;
$menu-animation-duration: 400ms;
$menu-animation-timing: cubic-bezier(.42,0,.58,1);

.burger-menu {
	position: fixed;
	width: $menu-button-width;
	height: $menu-button-height;
	text-transform: uppercase;
	top: ($top-header-height - $menu-button-height)/2;
	left: 25px;
}

.burger-click-region {
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
}

.burger-menu-txt {
	display: block;
	position: absolute;
	font-size: $menu-txt-initial-font-size;
	line-height: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	text-align: center;
	transition: all $menu-animation-duration $menu-animation-timing;
	
	.is-open & {
		font-size: $menu-txt-active-font-size;
		transform: translate3d($menu-piece-width +$menu-piece-height + $menu-piece-space-between, -18.5px, 0);
	}
}

.burger-menu-piece {
	display: block;
	position: absolute;
	width: $menu-piece-width;
	height: $menu-piece-height;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: black;
	border-radius: $menu-piece-border-radius;
	transform-origin: 50% 50%;
	transition: transform $menu-animation-duration $menu-animation-timing;
	
	&:nth-child(1) {
		top: ($menu-button-height - $menu-piece-height * 3 - $menu-piece-space-between * 2) / 2;
	}
	
	&:nth-child(2) {
		top: ($menu-button-height - $menu-piece-height) / 2;
		opacity: 1;
		transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
	}
	
	&:nth-child(3) {
		top: ($menu-button-height + $menu-piece-height + $menu-piece-space-between * 2) / 2;
	}
	
	.active & {
		
			&:nth-child(1) {
				animation: burger-open-top $menu-animation-duration $menu-animation-timing forwards;
			}
		
			&:nth-child(2) {
				opacity: 0;
				transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
			}
		
			&:nth-child(3) {
				animation: burger-open-bot $menu-animation-duration $menu-animation-timing forwards;
			}
	}
	
	.closing & {
		&:nth-child(1) {
			animation: burger-close-top $menu-animation-duration $menu-animation-timing forwards;
		}
		
		&:nth-child(3) {
			animation: burger-close-bot $menu-animation-duration $menu-animation-timing forwards;
		}
	}
}

@keyframes burger-open-top {
	50% {
		transform: translate3d(0,$menu-piece-height + $menu-piece-space-between, 0);
	}
	100% {
		transform: translate3d(0,$menu-piece-height + $menu-piece-space-between, 0) rotate(45deg);
	}
}

@keyframes burger-open-bot {
	50% {
		transform: translate3d(0, -$menu-piece-height - $menu-piece-space-between, 0);
	}
	100% {
		transform: translate3d(0, -$menu-piece-height - $menu-piece-space-between, 0) rotate(-45deg);
	}
}

@keyframes burger-close-top {
	0% {
		transform: translate3d(0,$menu-piece-height + $menu-piece-space-between, 0) rotate(45deg);
	}
	50% {
		transform: translate3d(0,$menu-piece-height + $menu-piece-space-between, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes burger-close-bot {
	0% {
		transform: translate3d(0, -$menu-piece-height - $menu-piece-space-between, 0) rotate(-45deg);
	}
	50% {
		transform: translate3d(0, -$menu-piece-height - $menu-piece-space-between, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}