html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: $site-min-width;
	font-family: arial,sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

*, *:after, *:before {
	box-sizing: inherit;
}

a {
	color: $links-color;

	&:hover {
		color: $links-color-hover;;
	}
}

:focus {
	outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin:0 0 10px;
	font-weight:bold;
	text-transform: uppercase;
}

h1 {
	font-size: 21px;
	border-bottom: 1px solid $grey4;
	padding-bottom: 5px;
}

h2 {
	font-size: 18px;
	border-bottom: 1px solid $grey4;
	padding-top: 3px;
	padding-bottom: 5px;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
	text-align: justify;
}

// Forms
input,
select,
textarea,
button {
	vertical-align:middle;
}

/* Fix: remove default formatting on iOS (e.g. rounded corners) */
input, textarea, keygen, select, button {
	font-size: 14px;
	font-family: arial,sans-serif;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
	-webkit-appearance:none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
select,
textarea {
	background: $white;
	border:1px solid $grey5;
	color: $grey666;

	/* Box model */
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* Remove default formatting, fix for iOS (rounded corners and shadow) */
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"] {
	height: $input-height;
}

select {
	height: $input-height;
	width: $input-width;
	padding: 8px;
	text-overflow: ellipsis;
	-webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
	width: $input-width;
	padding: 8px;
	text-overflow: ellipsis;
}

select option {
	padding-right: 10px;
	padding-left: 5px;
}

select[multiple] option {
	border-bottom: 1px solid $grey2;
	padding: 2px 5px;
}

select[multiple] option:last-child {
	border-bottom: 0;
}

textarea {
	overflow: auto;
}

input[type="radio"] {
	margin-right: 3px;
	margin-left: 0;
}

input[type="checkbox"] {
	margin-right: 3px;
	margin-left: 0;
}

/* Active and others
-------------------------------------------------------------- */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
select:hover,
textarea:hover, 
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
	border-color: $greyAAA;
	color: $grey333;
	outline: none;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
select:disabled,
textarea:disabled {

}

label.required span:after {
	content: '*'
}

.form-fields {
	span {
		display: inline-block;
		margin: 2px 0;
	}

	input,
	select {
		display: block;
		margin-bottom: 5px;
	}

	.form-errors {
		color: $error-red;
		margin-bottom: 5px;
	}

	label.error {
		input {
			border-color: $error-red;
		}
	}

	.radio-field {
		display: block;

		span {
			display: block;
		}

		input {
			display: initial;
		}

		label {
			margin-right: 20px;
		}
	}

	.checkbox-field {
		input {
			display: inline-block;
		}

		span {
			margin: 15px 0;
		}
	}
}

button {
	background-color: $buttons-bg-color;
	color: $buttons-color;
	border: none;
	border-radius: 4px;
	line-height: 2.5em;
	font-size: 16px;
	font-weight: bold;
	padding: 0 3em;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		background-color: $buttons-hover-bg-color;
	}
}