.cart-preview {
	position: relative;
	float: right;

	.header {
		.cart-icon {
			display: inline-block;
			height: $top-header-buttons-size;
			width: $top-header-buttons-size;
			padding: 5px;
			background-image: url(../img/cart-white.svg);
			background-origin: content-box;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: auto auto;
		}

		.cart-num-item {
			position: absolute;
			width: 20px;
			text-align: center;
			top: 2px;
			left: 12px;
			font-size: 16px;
			font-weight: bold;
			color: $light-blue;
		}

		.cart-text {
			display: none;
			float: right;
			line-height: $top-header-buttons-size;
		}

		&:hover {
			.cart-icon {
				background-image: url(../img/cart-light-blue.svg);
			}
		}
	}

	.body {
		display: none;
	}
}

@media #{$tabletMediaQuery}, #{$desktopMediaQuery} {
	.cart-preview {
		.header {
			.cart-text {
				display: inline-block;
			}
		}
	}
}