// COLORS
$white: #fff;
$black: #000;
$blue: #001f66;

//HEADER
$top-header-height: 66px;
$top-header-color: $white;
$bottom-header-height: 30px;
$bottom-header-color: #f4f3f7;
$main-header-height: $top-header-height + $bottom-header-height;
$logo-height: 45px;