//GENERAL
$site-min-width: 320px;

// COLORS
$white: #fff;
$black: #000;
$light-blue: #50adeb;
$light-blue-2: #4aa0d9;
$blue: rgb(35, 47, 61);
$links-color: #0066c0;
$links-color-hover: #c45500;

//FROMS
$buttons-bg-color: $light-blue;
$buttons-hover-bg-color: $light-blue-2;
$buttons-color: $blue;

//HEADER
$top-header-height: 66px;
$top-header-color: $white;
$top-header-buttons-size: 40px;
$bottom-header-height: 30px;
$bottom-header-color: #f4f3f7;
$main-header-height-mobile: $top-header-height;
$main-header-height-tabletDesktop: $top-header-height + $bottom-header-height;
$logo-height-mobile: 35px;
$logo-height-tabletDesktop: 45px;
$text-search-height: 36px;
$text-search-button-width: 40px;

//MENU-LAYER
$menu-layer-width-mobile: 250px;
$menu-layer-width-tabletDesktop: 350px;
$menu-animation-duration: 400ms;
$menu-animation-timing: cubic-bezier(.42,0,.58,1);

//MEDIA-QUERIES
$mobileMediaQuery: "only screen and (max-device-width: 767px)";
$tabletMediaQuery: "only screen and (min-device-width: 768px) and (max-device-width: 1023px)";
$desktopMediaQuery: "only screen and (min-device-width: 1024px)";

//Z-INDEX
$header-z-index: 1000;
$menu-layer-bg-z-index: 2000;
$menu-layer-content-z-index: 2010;
$burger-menu-z-index: 2500;