/* line 1, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  font-family: arial,sans-serif;
  font-size: 14px;
  box-sizing: border-box; }

/* line 12, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
*, *:after, *:before {
  box-sizing: inherit; }

/* line 16, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
button {
  background-color: #50adeb;
  color: #232f3e;
  border: none;
  border-radius: 4px;
  line-height: 2.5em;
  padding: 0 3em;
  text-decoration: none; }
  /* line 25, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
  button:hover {
    background-color: #4aa0d9; }

/* line 10, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
.burger-menu {
  position: fixed;
  width: 40px;
  height: 40px;
  text-transform: uppercase;
  top: 13px;
  left: 25px;
  z-index: 2500; }

/* line 20, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
.burger-click-region {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute; }

/* line 27, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
.burger-menu-txt {
  display: block;
  position: absolute;
  font-size: 12px;
  line-height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  text-align: center;
  transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1); }
  /* line 39, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .is-open .burger-menu-txt {
    font-size: 20px;
    transform: translate3d(40px, -18.5px, 0); }

/* line 45, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
.burger-menu-piece {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: black;
  border-radius: 2px;
  transform-origin: 50% 50%;
  transition: transform 400ms cubic-bezier(0.42, 0, 0.58, 1); }
  /* line 58, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .burger-menu-piece:nth-child(1) {
    top: 11.5px; }
  /* line 62, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .burger-menu-piece:nth-child(2) {
    top: 18.5px;
    opacity: 1;
    transition: transform 400ms cubic-bezier(0.42, 0, 0.58, 1), opacity 0ms linear 200ms; }
  /* line 68, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .burger-menu-piece:nth-child(3) {
    top: 25.5px; }
  /* line 74, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .active .burger-menu-piece:nth-child(1) {
    animation: burger-open-top 400ms cubic-bezier(0.42, 0, 0.58, 1) forwards; }
  /* line 78, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .active .burger-menu-piece:nth-child(2) {
    opacity: 0;
    transition: transform 400ms cubic-bezier(0.42, 0, 0.58, 1), opacity 0ms linear 200ms; }
  /* line 83, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .active .burger-menu-piece:nth-child(3) {
    animation: burger-open-bot 400ms cubic-bezier(0.42, 0, 0.58, 1) forwards; }
  /* line 89, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .closing .burger-menu-piece:nth-child(1) {
    animation: burger-close-top 400ms cubic-bezier(0.42, 0, 0.58, 1) forwards; }
  /* line 93, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .closing .burger-menu-piece:nth-child(3) {
    animation: burger-close-bot 400ms cubic-bezier(0.42, 0, 0.58, 1) forwards; }

@keyframes burger-open-top {
  50% {
    transform: translate3d(0, 7px, 0); }
  100% {
    transform: translate3d(0, 7px, 0) rotate(45deg); } }

@keyframes burger-open-bot {
  50% {
    transform: translate3d(0, -7px, 0); }
  100% {
    transform: translate3d(0, -7px, 0) rotate(-45deg); } }

@keyframes burger-close-top {
  0% {
    transform: translate3d(0, 7px, 0) rotate(45deg); }
  50% {
    transform: translate3d(0, 7px, 0) rotate(0deg); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes burger-close-bot {
  0% {
    transform: translate3d(0, -7px, 0) rotate(-45deg); }
  50% {
    transform: translate3d(0, -7px, 0) rotate(0deg); }
  100% {
    transform: translate3d(0, 0, 0); } }

/* line 2, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
.menu-layer .menu-layer-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  z-index: 2000;
  transition: opacity 400ms cubic-bezier(0.42, 0, 0.58, 1); }

/* line 14, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
.menu-layer .menu-layer-content {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  padding-top: 66px;
  background-color: #fff;
  z-index: 2010;
  transition: left 400ms cubic-bezier(0.42, 0, 0.58, 1); }

/* line 27, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
.menu-layer.is-open .menu-layer-bg {
  width: 100%;
  height: 100%;
  opacity: 0.3; }

/* line 33, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
.menu-layer.is-open .menu-layer-content {
  left: 0; }

/* line 39, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
.menu-layer.closing .menu-layer-bg {
  width: 100%;
  height: 100%; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px), only screen and (min-device-width: 1024px) {
  /* line 48, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer .menu-layer-content {
    left: -350px;
    width: 350px; } }

/* line 4, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
#main-header {
  position: fixed;
  width: 100%;
  min-width: 320px;
  top: 0;
  z-index: 1000; }
  /* line 11, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
  #main-header .top-header {
    height: 66px;
    background-color: #fff; }
    /* line 15, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .logo {
      float: left;
      height: 35px;
      margin-top: 15.5px;
      margin-left: 90px; }
      /* line 21, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .logo img {
        height: 100%; }
    /* line 26, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .show-text-search {
      height: 40px;
      width: 40px;
      margin-top: 13px;
      padding: 5px;
      background-color: transparent;
      background-image: url(../css/b09f03d8763ec0d0c906506416e25e1a.svg);
      background-origin: content-box;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto auto; }
    /* line 39, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .text-search {
      position: fixed;
      top: 30px;
      left: 0;
      right: 0;
      height: 36px;
      z-index: -1;
      transition: top 400ms cubic-bezier(0.42, 0, 0.58, 1); }
      /* line 48, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .text-search input[type="text"] {
        float: left;
        height: 36px;
        width: calc(100% - 40px);
        padding: 0 15px;
        border: none;
        background-color: #e1e0e4; }
      /* line 57, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .text-search button {
        height: 36px;
        width: 40px;
        padding: 5px;
        border: none;
        border-radius: 0;
        background-image: url(../css/b09f03d8763ec0d0c906506416e25e1a.svg);
        background-origin: content-box;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto auto;
        text-indent: -9999px;
        line-height: 0; }
      /* line 72, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .text-search.show {
        top: 66px; }
  /* line 78, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
  #main-header .bottom-header {
    display: none;
    height: 30px;
    background-color: #f4f3f7;
    opacity: 0.9; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px), only screen and (min-device-width: 1024px) {
  /* line 89, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
  #main-header .top-header .logo {
    height: 45px;
    margin-top: 10.5px; }
  /* line 94, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
  #main-header .top-header .show-text-search {
    display: none; }
  /* line 98, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
  #main-header .top-header .text-search {
    position: relative;
    float: left;
    top: initial;
    left: initial;
    right: initial;
    margin-top: 15px;
    margin-left: 30px;
    transition: initial;
    z-index: initial; }
    /* line 109, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .text-search input[type="text"] {
      border-radius: 4px 0 0 4px; }
    /* line 113, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .text-search button {
      border-radius: 0 4px 4px 0; }
    /* line 117, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .text-search.show {
      top: initial; }
  /* line 123, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
  #main-header .bottom-header {
    display: block; } }

/* line 7, stdin */
#wrapper {
  margin-top: 66px; }

/* line 11, stdin */
.homeslider-container {
  display: none; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px), only screen and (min-device-width: 1024px) {
  /* line 14, stdin */
  #wrapper {
    margin-top: 96px; } }

/*# sourceMappingURL=theme.css.map*/