/* line 1, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  font-family: arial,sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-text-size-adjust: none; }

/* line 14, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
*, *:after, *:before {
  box-sizing: inherit; }

/* line 18, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
a {
  color: #0066c0; }
  /* line 21, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
  a:hover {
    color: #c45500; }

/* line 26, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
:focus {
  outline: 0; }

/* line 30, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: bold;
  text-transform: uppercase; }

/* line 41, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
h1 {
  font-size: 21px;
  border-bottom: 1px solid #e1dfe4;
  padding-bottom: 5px; }

/* line 47, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
h2 {
  font-size: 18px;
  border-bottom: 1px solid #e1dfe4;
  padding-top: 3px;
  padding-bottom: 5px; }

/* line 54, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }

/* line 61, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
p {
  text-align: justify; }

/* line 66, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
input,
select,
textarea,
button {
  vertical-align: middle; }

/* Fix: remove default formatting on iOS (e.g. rounded corners) */
/* line 74, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
input, textarea, keygen, select, button {
  font-size: 14px;
  font-family: arial,sans-serif; }

/* line 79, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  -webkit-appearance: none; }

/* line 90, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
select,
textarea {
  background: #fff;
  border: 1px solid #cfcfcf;
  color: #666;
  /* Box model */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Remove default formatting, fix for iOS (rounded corners and shadow) */
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 114, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"] {
  height: 36px; }

/* line 124, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
select {
  height: 36px;
  width: 250px;
  padding: 8px;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat; }

/* line 137, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  width: 250px;
  padding: 8px;
  text-overflow: ellipsis; }

/* line 150, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
select option {
  padding-right: 10px;
  padding-left: 5px; }

/* line 155, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
select[multiple] option {
  border-bottom: 1px solid #ebebeb;
  padding: 2px 5px; }

/* line 160, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
select[multiple] option:last-child {
  border-bottom: 0; }

/* line 164, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
textarea {
  overflow: auto; }

/* line 168, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
input[type="radio"] {
  margin-right: 3px;
  margin-left: 0; }

/* line 173, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
input[type="checkbox"] {
  margin-right: 3px;
  margin-left: 0; }

/* Active and others
-------------------------------------------------------------- */
/* line 180, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
select:hover,
textarea:hover,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  border-color: #666;
  color: #333;
  outline: none; }

/* line 215, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
label.required span:after {
  content: '*'; }

/* line 220, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
.form-fields span {
  display: inline-block;
  margin: 2px 0; }

/* line 225, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
.form-fields input,
.form-fields select {
  display: block;
  margin-bottom: 5px; }

/* line 231, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
.form-fields .form-errors {
  color: #cc0000;
  margin-bottom: 5px; }

/* line 237, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
.form-fields label.error input {
  border-color: #cc0000; }

/* line 242, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
.form-fields .radio-field {
  display: block; }
  /* line 245, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
  .form-fields .radio-field span {
    display: block; }
  /* line 249, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
  .form-fields .radio-field input {
    display: initial; }
  /* line 253, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
  .form-fields .radio-field label {
    margin-right: 20px; }

/* line 259, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
.form-fields .checkbox-field input {
  display: inline-block; }

/* line 263, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
.form-fields .checkbox-field span {
  margin: 15px 0; }

/* line 269, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
button {
  background-color: #50adeb;
  color: #232f3d;
  border: none;
  border-radius: 4px;
  line-height: 2.5em;
  font-size: 16px;
  font-weight: bold;
  padding: 0 3em;
  text-decoration: none;
  cursor: pointer; }
  /* line 281, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_commons.scss */
  button:hover {
    background-color: #4aa0d9; }

/* line 1, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
.burger-click-region {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute; }

/* line 8, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
.burger-menu-txt {
  display: block;
  position: absolute;
  font-size: 12px;
  line-height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  text-align: center;
  transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1); }
  /* line 20, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .is-open .burger-menu-txt {
    color: #232f3d;
    font-size: 20px;
    transform: translate3d(40px, -18.5px, 0); }

/* line 27, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
.burger-menu-piece {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1px;
  transform-origin: 50% 50%;
  transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1); }
  /* line 40, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .burger-menu-piece:nth-child(1) {
    top: 11.5px; }
  /* line 44, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .burger-menu-piece:nth-child(2) {
    top: 18.5px; }
  /* line 48, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .burger-menu-piece:nth-child(3) {
    top: 25.5px; }
  /* line 52, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .active .burger-menu-piece {
    background-color: #232f3d; }
    /* line 55, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
    .active .burger-menu-piece:nth-child(1) {
      animation: burger-open-top 400ms cubic-bezier(0.42, 0, 0.58, 1) forwards; }
    /* line 59, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
    .active .burger-menu-piece:nth-child(2) {
      opacity: 0; }
    /* line 63, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
    .active .burger-menu-piece:nth-child(3) {
      animation: burger-open-bot 400ms cubic-bezier(0.42, 0, 0.58, 1) forwards; }
  /* line 69, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .closing .burger-menu-piece:nth-child(1) {
    animation: burger-close-top 400ms cubic-bezier(0.42, 0, 0.58, 1) forwards; }
  /* line 73, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_burger-menu.scss */
  .closing .burger-menu-piece:nth-child(3) {
    animation: burger-close-bot 400ms cubic-bezier(0.42, 0, 0.58, 1) forwards; }

@keyframes burger-open-top {
  50% {
    transform: translate3d(0, 7px, 0); }
  100% {
    transform: translate3d(0, 7px, 0) rotate(45deg); } }

@keyframes burger-open-bot {
  50% {
    transform: translate3d(0, -7px, 0); }
  100% {
    transform: translate3d(0, -7px, 0) rotate(-45deg); } }

@keyframes burger-close-top {
  0% {
    transform: translate3d(0, 7px, 0) rotate(45deg); }
  50% {
    transform: translate3d(0, 7px, 0) rotate(0deg); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes burger-close-bot {
  0% {
    transform: translate3d(0, -7px, 0) rotate(-45deg); }
  50% {
    transform: translate3d(0, -7px, 0) rotate(0deg); }
  100% {
    transform: translate3d(0, 0, 0); } }

/* line 1, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
.menu-layer {
  z-index: 2010;
  position: fixed;
  height: 100%;
  top: 0;
  left: -250px;
  transition: left 400ms cubic-bezier(0.42, 0, 0.58, 1); }
  /* line 9, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer .menu-layer-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    z-index: -10;
    transition: opacity 400ms cubic-bezier(0.42, 0, 0.58, 1); }
  /* line 21, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer .menu-layer-content {
    position: relative;
    width: 250px;
    height: 100%;
    padding-top: 66px;
    background-color: #fff; }
  /* line 29, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer.is-open {
    left: 0; }
    /* line 32, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
    .menu-layer.is-open .menu-layer-bg {
      width: 100%;
      height: 100%;
      opacity: 0.6; }
  /* line 40, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer.closing .menu-layer-bg {
    width: 100%;
    height: 100%; }
  /* line 46, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer .panel {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 250px;
    height: 100%;
    top: 0;
    transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    z-index: -1; }
    /* line 56, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
    .menu-layer .panel .panel-title {
      height: 66px;
      margin-left: 20px;
      line-height: 66px;
      font-size: 18px; }
    /* line 63, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
    .menu-layer .panel.open {
      visibility: visible;
      opacity: 1; }
  /* line 69, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer ul {
    font-size: 16px;
    color: #232f3d; }
    /* line 73, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
    .menu-layer ul li {
      margin-left: 15px; }
      /* line 76, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
      .menu-layer ul li a {
        display: block;
        line-height: 20px;
        padding: 5px 0;
        padding-left: 5px;
        padding-right: 40px;
        text-decoration: none;
        color: #232f3d; }
        /* line 85, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
        .menu-layer ul li a:hover {
          color: #4aa0d9; }
      /* line 90, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
      .menu-layer ul li.has-children {
        background-position: right 20px center;
        background-repeat: no-repeat;
        background-size: auto 15px;
        background-image: url(../css/1c1a031f083b6f5b34c1021cae6a01f3.svg); }
        /* line 96, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
        .menu-layer ul li.has-children:hover {
          background-image: url(../css/27d40eed74808264b4164f36bc02e2e4.svg); }
  /* line 105, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer ul[data-depth="0"] > .category.has-children:hover {
    background-color: #f1f1f1; }
  /* line 109, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer ul[data-depth="0"] > .category > .panel {
    left: 0;
    background-color: #f1f1f1; }
    /* line 113, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
    .menu-layer ul[data-depth="0"] > .category > .panel.open {
      left: 250px; }
  /* line 122, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer ul[data-depth="1"] > .category.has-children:hover {
    background-color: #ebebeb; }
  /* line 126, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer ul[data-depth="1"] > .category > .panel {
    left: 250px;
    background-color: #ebebeb; }
    /* line 130, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
    .menu-layer ul[data-depth="1"] > .category > .panel.open {
      left: 500px; }

@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (min-width: 1024px) {
  /* line 139, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
  .menu-layer {
    left: -350px; }
    /* line 142, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
    .menu-layer .menu-layer-content {
      width: 350px; }
    /* line 146, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
    .menu-layer .panel {
      width: 350px; }
      /* line 149, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
      .menu-layer .panel.open {
        left: 350px; }
    /* line 155, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
    .menu-layer ul[data-depth="0"] > .category > .panel.open {
      left: 350px; }
    /* line 160, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
    .menu-layer ul[data-depth="1"] > .category > .panel {
      left: 350px; }
      /* line 162, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_menu-layer.scss */
      .menu-layer ul[data-depth="1"] > .category > .panel.open {
        left: 700px; } }

/* line 1, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_user-info.scss */
.user-info {
  position: relative;
  float: left; }
  /* line 5, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_user-info.scss */
  .user-info .login,
  .user-info .account {
    display: block;
    height: 40px;
    width: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    text-indent: -9999px;
    white-space: nowrap; }
  /* line 17, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_user-info.scss */
  .user-info .login {
    background-image: url(../css/afc36af811fd42af0b055e5d9f01bb6b.svg); }
  /* line 21, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_user-info.scss */
  .user-info .account {
    background-image: url(../css/b41dea2b91f3de6e0169500197945495.svg); }
  /* line 26, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_user-info.scss */
  .user-info:hover .login {
    background-image: url(../css/84fb8152c3c2590b8d829bd60efcdf2f.svg); }
  /* line 30, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_user-info.scss */
  .user-info:hover .account {
    background-image: url(../css/c68b3ded1619506d6863d8e7f96434a8.svg); }

@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (min-width: 1024px) {
  /* line 38, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_user-info.scss */
  .user-info .login,
  .user-info .account {
    width: auto;
    max-width: 170px;
    text-indent: initial;
    line-height: 40px;
    background-position: 5px center;
    padding-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis; } }

/* line 1, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_mini-cart.scss */
.cart-preview {
  position: relative;
  float: right; }
  /* line 6, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_mini-cart.scss */
  .cart-preview .header .cart-icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 5px;
    background-image: url(../css/b7e343142b8b3c82280f60596b6317f6.svg);
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto; }
  /* line 18, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_mini-cart.scss */
  .cart-preview .header .cart-num-item {
    position: absolute;
    width: 20px;
    text-align: center;
    top: 2px;
    left: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #50adeb; }
  /* line 29, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_mini-cart.scss */
  .cart-preview .header .cart-text {
    display: none;
    float: right;
    line-height: 40px; }
  /* line 36, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_mini-cart.scss */
  .cart-preview .header:hover .cart-icon {
    background-image: url(../css/59269d39a209872aa1057150b52f6f23.svg); }
  /* line 42, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_mini-cart.scss */
  .cart-preview .body {
    display: none; }

@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (min-width: 1024px) {
  /* line 50, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_mini-cart.scss */
  .cart-preview .header .cart-text {
    display: inline-block; } }

/* line 6, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
#main-header {
  position: fixed;
  width: 100%;
  min-width: 320px;
  top: 0;
  z-index: 1000; }
  /* line 14, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
  #main-header .top-header {
    height: 66px;
    background-color: #232f3d;
    padding: 0 5px; }
    /* line 19, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header a {
      color: #fff;
      text-decoration: none; }
      /* line 23, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header a:hover {
        color: #50adeb; }
    /* line 28, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .show-text-search,
    #main-header .top-header .user-info,
    #main-header .top-header .cart-preview {
      margin: 0 5px; }
    /* line 34, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .burger-menu {
      position: fixed;
      width: 40px;
      height: 40px;
      text-transform: uppercase;
      top: 13px;
      left: 5px;
      z-index: 2500;
      color: #fff; }
    /* line 45, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .logo {
      float: left;
      height: 35px;
      width: 115px;
      margin-top: 15.5px;
      margin-left: 45px; }
      /* line 52, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .logo img {
        height: 100%; }
    /* line 57, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .show-text-search {
      float: right;
      height: 40px;
      width: 40px;
      margin-top: 13px;
      padding: 5px;
      background-color: transparent;
      background-image: url(../css/9b0fd60d50c7e3e267ccfc93c37cd653.svg);
      background-origin: content-box;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto auto; }
      /* line 70, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .show-text-search.show {
        background-image: url(../css/d2bdc060f07ad372e309aa0846dfe51b.svg); }
    /* line 75, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .text-search {
      position: fixed;
      top: 28px;
      left: 0;
      right: 0;
      z-index: -1;
      transition: top 400ms cubic-bezier(0.42, 0, 0.58, 1);
      border-bottom: 2px solid #232f3d; }
      /* line 84, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .text-search input[type="text"] {
        float: left;
        height: 36px;
        width: calc(100% - 40px);
        padding: 0 15px;
        border: none;
        border-radius: 0px;
        font-size: 16px;
        font-weight: 100; }
      /* line 95, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .text-search button {
        height: 36px;
        width: 40px;
        padding: 5px;
        border: none;
        border-radius: 0;
        background-image: url(../css/92a3ee642586b6306c847ad2d19bef1a.svg);
        background-origin: content-box;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto auto;
        text-indent: -9999px;
        line-height: 0; }
      /* line 110, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .text-search.show {
        top: 66px; }
    /* line 115, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .header-nav {
      float: right;
      height: 40px;
      margin-top: 13px; }
      /* line 120, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .header-nav .language-selector {
        display: none; }
  /* line 126, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
  #main-header .bottom-header {
    display: none;
    height: 30px;
    background-color: #f4f3f7;
    opacity: 0.9;
    padding: 0 5px; }

@media only screen and (min-width: 1024px) {
  /* line 138, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
  #main-header .top-header .text-search {
    margin: 0 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (min-width: 1024px) {
  /* line 147, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
  #main-header .top-header {
    display: flex;
    justify-content: space-between;
    padding: 0 25px; }
    /* line 152, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .burger-menu {
      left: 25px; }
    /* line 156, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .logo {
      height: 45px;
      width: 150px;
      margin-top: 10.5px;
      margin-left: 65px;
      flex: 0 0 auto;
      /* Forces side columns to stay same width */ }
    /* line 164, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .show-text-search {
      display: none; }
    /* line 168, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .text-search {
      width: 32%;
      position: relative;
      float: left;
      top: initial;
      left: initial;
      right: initial;
      margin: 0 15px;
      margin-top: 15px;
      transition: initial;
      z-index: initial;
      flex: 1 1 auto;
      /* Lets middle column shrink/grow to available width */ }
      /* line 181, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .text-search input[type="text"] {
        border-radius: 4px 0 0 4px; }
      /* line 185, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .text-search button {
        border-radius: 0 4px 4px 0; }
      /* line 189, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
      #main-header .top-header .text-search.show {
        top: initial; }
    /* line 194, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
    #main-header .top-header .header-nav {
      flex: 0 0 auto;
      /* Forces side columns to stay same width */ }
  /* line 199, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/header.scss */
  #main-header .bottom-header {
    display: block;
    padding: 0 25px; } }

/*** Most of the customer accpunt pages ***/
/* line 5, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
.page-customer-account #wrapper > nav,
.page-my-account #wrapper > nav,
.page-addresses #wrapper > nav {
  display: none; }

/* line 9, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
.page-customer-account .my-account-links,
.page-my-account .my-account-links,
.page-addresses .my-account-links {
  margin-top: 20px; }
  /* line 12, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
  .page-customer-account .my-account-links li,
  .page-my-account .my-account-links li,
  .page-addresses .my-account-links li {
    float: left;
    margin-right: 30px; }

/* line 19, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
.page-customer-account .page-content.page-addresses article.address,
.page-my-account .page-content.page-addresses article.address,
.page-addresses .page-content.page-addresses article.address {
  background-color: #ebebeb;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 26px; }
  /* line 25, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
  .page-customer-account .page-content.page-addresses article.address footer,
  .page-my-account .page-content.page-addresses article.address footer,
  .page-addresses .page-content.page-addresses article.address footer {
    width: auto;
    margin: 0; }
    /* line 29, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
    .page-customer-account .page-content.page-addresses article.address footer li:first-child,
    .page-my-account .page-content.page-addresses article.address footer li:first-child,
    .page-addresses .page-content.page-addresses article.address footer li:first-child {
      float: left; }
    /* line 33, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
    .page-customer-account .page-content.page-addresses article.address footer li:last-child,
    .page-my-account .page-content.page-addresses article.address footer li:last-child,
    .page-addresses .page-content.page-addresses article.address footer li:last-child {
      float: right; }

/* line 39, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
.page-customer-account .page-content.page-addresses footer,
.page-my-account .page-content.page-addresses footer,
.page-addresses .page-content.page-addresses footer {
  width: 100%;
  margin-top: 15px;
  text-align: center; }
  /* line 44, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
  .page-customer-account .page-content.page-addresses footer a[data-link-action='add-address'],
  .page-my-account .page-content.page-addresses footer a[data-link-action='add-address'],
  .page-addresses .page-content.page-addresses footer a[data-link-action='add-address'] {
    display: inline-block;
    text-align: center;
    background-color: #50adeb;
    color: #232f3d;
    border: none;
    border-radius: 4px;
    line-height: 2.5em;
    font-size: 16px;
    font-weight: bold;
    padding: 0 3em;
    text-decoration: none;
    cursor: pointer; }
    /* line 15, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_mixins.scss */
    .page-customer-account .page-content.page-addresses footer a[data-link-action='add-address']:hover,
    .page-my-account .page-content.page-addresses footer a[data-link-action='add-address']:hover,
    .page-addresses .page-content.page-addresses footer a[data-link-action='add-address']:hover {
      background-color: #4aa0d9; }

/*** Login page ***/
/* line 55, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
.page-authentication #content #login_form_container header {
  margin-top: 15px; }

/* line 61, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
.page-authentication #content .register-form a {
  display: inline-block;
  text-align: center;
  background-color: #50adeb;
  color: #232f3d;
  border: none;
  border-radius: 4px;
  line-height: 2.5em;
  font-size: 16px;
  font-weight: bold;
  padding: 0 3em;
  text-decoration: none;
  cursor: pointer; }
  /* line 15, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/partials/_mixins.scss */
  .page-authentication #content .register-form a:hover {
    background-color: #4aa0d9; }

@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (min-width: 1024px) {
  /* line 75, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
  .page-customer-account #wrapper,
  .page-my-account #wrapper,
  .page-addresses #wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    /* line 80, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
    .page-customer-account #wrapper #left-column,
    .page-my-account #wrapper #left-column,
    .page-addresses #wrapper #left-column {
      flex: 0 0 200px; }
    /* line 84, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
    .page-customer-account #wrapper #content-wrapper,
    .page-my-account #wrapper #content-wrapper,
    .page-addresses #wrapper #content-wrapper {
      margin-left: 20px;
      flex: 1 1; }
  /* line 90, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
  .page-customer-account .page-content.page-addresses,
  .page-my-account .page-content.page-addresses,
  .page-addresses .page-content.page-addresses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; }
    /* line 96, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
    .page-customer-account .page-content.page-addresses article.address,
    .page-my-account .page-content.page-addresses article.address,
    .page-addresses .page-content.page-addresses article.address {
      position: relative;
      width: 250px;
      margin: 5px; }
      /* line 101, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
      .page-customer-account .page-content.page-addresses article.address footer,
      .page-my-account .page-content.page-addresses article.address footer,
      .page-addresses .page-content.page-addresses article.address footer {
        position: absolute;
        bottom: 10px;
        width: 230px; }
    /* line 108, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
    .page-customer-account .page-content.page-addresses footer,
    .page-my-account .page-content.page-addresses footer,
    .page-addresses .page-content.page-addresses footer {
      margin: 5px;
      margin-top: 15px;
      text-align: left; }
  /*** Login page ***/
  /* line 118, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
  .page-authentication #content {
    width: 100%;
    display: inline-block; }
    /* line 122, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
    .page-authentication #content #register-container,
    .page-authentication #content #login_form_container {
      width: 49%; }
    /* line 127, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
    .page-authentication #content #register-container {
      float: left; }
    /* line 131, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
    .page-authentication #content #login_form_container {
      float: right; }
      /* line 134, /Users/matteo/Documents/Workspace/rigottiArrotinoTheme/_dev/css/components/customer.scss */
      .page-authentication #content #login_form_container header {
        margin-top: 0; } }

/* line 8, stdin */
body {
  padding-top: 66px; }

/* line 12, stdin */
#wrapper {
  padding: 10px; }

/* line 16, stdin */
.homeslider-container {
  display: none; }

@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (min-width: 1024px) {
  /* line 19, stdin */
  body {
    padding-top: 96px; }
  /* line 23, stdin */
  #wrapper {
    margin: 0 auto;
    max-width: 1500px;
    padding: 20px; } }

/*# sourceMappingURL=theme.css.map*/