@import "partials/_burger-menu";
@import "partials/_menu-layer";

#main-header {
	position: fixed;
	width: 100%;
	min-width: $site-min-width;
	top: 0;

	.top-header {
		height: $top-header-height;
		background-color: $top-header-color;

		.logo {
			float: left;
			height: $logo-height-mobile;
			margin-top: ($top-header-height - $logo-height-mobile)/2;
			margin-left: 90px;

			img {
				height: 100%;
			}
		}
	}

	.bottom-header {
		height: $bottom-header-height;
		background-color: $bottom-header-color;
		opacity: 0.9;
	}
}

@media #{$tabletMediaQuery}, #{$desktopMediaQuery} {
	#main-header {
		.top-header {
			.logo {
				height: $logo-height-tabletDesktop;
				margin-top: ($top-header-height - $logo-height-tabletDesktop)/2;
			}
		}

		.bottom-header {
			display: none;
		}
	}
}