@import "partials/_burger-menu";

#main-header {
	position: fixed;
	width: 100%;
	top: 0;
	.top-header {
		height: $top-header-height;
		background-color: $top-header-color;

		.logo {
			float: left;
			height: $logo-height;
			margin-top: ($top-header-height - $logo-height)/2;
			margin-left: 90px;

			img {
				height: 100%;
			}
		}
	}

	.bottom-header {
		height: $bottom-header-height;
		background-color: $bottom-header-color;
		opacity: 0.9;
	}
}